*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Raleway', sans-serif; 
}

header, section{
  padding: 40px;
}

header h1{
  font-weight: 700;
}

.search-bar-wrapper {
  position: relative;
  border: 1px solid #ccc;
  
  display: flex;
  align-items: center;
  width: 320px;
}
.search-bar-wrapper button{
  width: 30px;
  height: 40px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: transparent;
 margin-right: 5px;
}
.search-bar-wrapper button svg{
  width: 100%;
  height: auto;
  
}

.search-bar-wrapper #search-bar{
  width: 100%;
  padding: 10px 0;
  border: none;
}

#home-menu{
  margin: 40px 0 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
#home-menu  .home-menu-link{
  list-style: none;

  border-radius: 5px;
  background-image: url('../images/pokebola.svg');
  background-repeat: no-repeat;
  background-position: 75px;
  background-size: 60%;
}
#home-menu  .home-menu-link:nth-child(1){
  background-color: #4ec2a7;
}
#home-menu  .home-menu-link:nth-child(2){
  background-color: #f7796b;
}
#home-menu  .home-menu-link:nth-child(3){
  background-color: #57acf6;
}
#home-menu  .home-menu-link:nth-child(4){
  background-color: #ffcf4a;
}
#home-menu  .home-menu-link:nth-child(5){
  background-color: #7d528d;
}
#home-menu  .home-menu-link:nth-child(6){
  background-color: #b2746c;
}
#home-menu  .home-menu-link a{
  text-decoration: none;
  color: #f5f5f6;
  font-weight: 900;
  padding: 20px 10px;
  display: block;
}

#pokemon-news {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#pokemon-news header{
  padding: 0; 
  display: flex;
    align-items: center;
  justify-content: space-between;


}
#pokemon-news header h2{
font-size: 1.5em;
}
#pokemon-news header button{
  outline: none;
  border: none;
  background-color: #fff;
  color: blue;
  padding: 10px;
  height: 40px;

  cursor: pointer;
}

.news{
  display: flex;
  gap: 40px;
  justify-content: space-between;


  height: 100px;
  border-radius: 15px;
}
.news .new-info{
  padding: 10px 0;
}
.news .new-info h3{
  font-weight: 700;
  font-size: 1em;
}
.news .new-info .new-data{
  padding: 10px 0 ;
  color: gray;
  font-size: 14px;
}

.news img{
  width: 100px;
}